<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Заметки</h1>

    <form id="note-form">
      <input type="text" id="title" placeholder="Введите заголовок" required />
      <button type="submit">Сохранить</button>
    </form>

    <hr />

    <div class="notes">
      <% if (notes.length > 0) { %> <% notes.forEach(note => { %>
      <div class="note" data-id="<%= note._id %>">
        <strong class=".note-title"><%= note.title %></strong>
        <button data-type="edit" data-id="<%= note._id %>">✏️</button>
        <button data-type="delete" data-id="<%= note._id %>">🗑️</button>
      </div>
      <% }) %> <% } else { %>
      <p>Пока нет заметок.</p>
      <% } %>
    </div>

    <script src="/form.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
